<ion-header class="header-1">
  <ion-toolbar>
    <ion-title color="primary">PROSUM</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="list-state">
    <ion-item *ngFor="let order of orders" class="left-state" [ngClass]="order.st" lines="none" button="true" detail="false" (click) ="onViewOrder(order)">
      <ion-avatar slot="start">
        <ion-icon name="business" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{order.comp_name}}</h2>
        <h3>{{order.so_name}}</h3>
        <p>{{order.date}}</p>
      </ion-label>
      <ion-badge slot="end">{{order.itemCount}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer translucent="true">
  <ion-toolbar no-padding>
    <ion-button color="primary" expand="full" no-margin (click) = "createOrder()" >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon slot="start" name="add"></ion-icon>
      Үүсгэх
    </ion-button>
  </ion-toolbar>
</ion-footer>
