<ion-header class="header-1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Захиалга үүсгэх</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar #srcPartner clear-icon (ionInput) = searchPartner($event) ></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let partner of tPartner" button="true" (click) = onPartnerSelect(partner)>
      <ion-avatar slot="start">
        <ion-icon name="business" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <ion-text color="primary">
          <h4>{{partner.name}}</h4>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
