<ion-content class="login">
  <ion-grid class="login-wrapper">
    <ion-row class="full-height" justify-content-center align-items-center>
      <ion-col size="10">
        <ion-text color="primary">
          <h1 class="title">PROSUM</h1>
          <h6 class="sub-title">Борлуулалтын систем</h6>
        </ion-text>
        <ion-list>
          <ion-item>
            <ion-input required type="text" placeholder="Хэрэглэгчийн нэр" #username></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="password" placeholder="Нууц үг" #password></ion-input>
          </ion-item>
        </ion-list>
        <p class="text-right"><a href="" class="forgotpass"><sub>Нууц үгээ мартсан уу?</sub></a></p>
        <div padding>
          <ion-button expand="full" shape="round" (click)="signIn()">Нэвтрэх</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
