<ion-header class="header-1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Сонголт баталгаажуулах</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title><h3>{{preInfos.name}}</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>Нийт үнэ: <strong>{{preInfos.total_price}}</strong></h1>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item-divider>
      <ion-label><h2>Сонгосон бараа</h2></ion-label>
      <ion-badge slot="end" color="primary">{{product_lines.length}}</ion-badge>
    </ion-item-divider>
    <ion-item *ngFor="let product of product_lines" lines="none" button="true" detail="false">
      <ion-label>
        <h4 (click)="onProductClick(product)" padding-vertical>{{product.name}}</h4>
        <p>{{product.barcode}}</p>
      </ion-label>
      <div slot="end">
        <ion-label text-end>
          <p>{{product.product_qty}}ш</p>
          <h6>{{product.product_price}}₮</h6>
          <h5>{{product.product_tPrice}}</h5>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer translucent="true">
  <ion-toolbar no-padding>
    <ion-button color="success" expand="full" no-margin (click) = "confirmOrder()" >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon slot="start" name="add"></ion-icon>
      Төлбөр төлөх
    </ion-button>
  </ion-toolbar>
</ion-footer>
