<ion-header class="header-1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Захиалгын мэдээлэл</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{order.so_name}}</ion-card-subtitle>
      <ion-card-title>{{order.comp_name}}</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
    </ion-card-content> -->
  </ion-card>
  <ion-list>
    <ion-item lines="none"><h5>Барааны жагсаалт</h5></ion-item>
    <ion-item *ngFor="let item of order.ln" lines="none" margin-vertical>
      <ion-label>
        <ion-text color="primary">
          <h5>{{item.pn}}</h5>
        </ion-text>
        <ion-note>
          <p><i>{{item.barcode}}</i></p>
        </ion-note>
      </ion-label>
      <div slot="end">
        <ion-label text-end>
          <ion-text color="primary">
            <p>{{item.qty}}ш</p>
          </ion-text>
          <p>{{item.price}} ₮</p>
          <h2>{{item.total_price}}₮</h2>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <h4 text-end padding-horizontal>Нийт дүн:<span color="primary">   {{order.am_total}}₮</span></h4>
  </ion-toolbar>
</ion-footer>
