<ion-header class="header-1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Бүтээгдэхүүн сонгох</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{preInfos.partnerName}}</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-label>Сонгосон бараа</ion-label>
      <ion-badge slot="end" color="primary">{{preInfos.productCount}}</ion-badge>
    </ion-item>
  </ion-card>
  <ion-list>
    <ion-item lines="none"><h5>Барааны жагсаалт</h5></ion-item>
    <ion-item *ngFor="let product of products" lines="none" button="true" detail="false">
      <ion-label>
        <h4 (click)="onProductClick(product)" padding-vertical>{{product.name}}</h4>
        <div class="" *ngIf="product.id === showRanger">
          <ion-range min="0" max="{{product.qty_available}}" color="secondary" pin="true" (ionChange)="onRangeChange($event, product)">
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">{{product.qty_available}}</ion-label>
          </ion-range>
          <ion-text>Захиалах тоо: {{c_product.product_qty}}</ion-text>
          <div padding-vertical>
            <ion-button shape="round" color="success" (click)="onProductCtaClick(true)">
              <ion-ripple-effect></ion-ripple-effect>
              Нэмэх
            </ion-button>
            <ion-button shape="round" color="danger" (click)="onProductCtaClick(false)">
              <ion-ripple-effect></ion-ripple-effect>
              Болих
            </ion-button>
          </div>
        </div>
      </ion-label>
      <div slot="end">
        <ion-label text-end>
          <p>{{product.qty_available}}ш</p>
          <h6>{{product.price}}₮</h6>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer translucent="true" *ngIf = "showCreateCta === true">
  <ion-toolbar no-padding>
    <ion-button color="success" expand="full" no-margin (click) = "confirmOrder()" >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon slot="start" name="add"></ion-icon>
      Үүсгэх
    </ion-button>
  </ion-toolbar>
</ion-footer>
