<ion-header>
  <ion-toolbar>
    <ion-title>partner</ion-title>
    <ion-searchbar animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let partner of items" class="row single-partner" (click)='itemClick(partner)'>
    <ion-row>
      <ion-col size="3">
        <div>adsf</div>
      </ion-col>
      <ion-col>
        {{partner.name}}
      </ion-col>
    </ion-row>
  </div>
</ion-content>
